<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<div>
    <img th:src="@{/images/quest_fon.png}" class="fon" alt="..." >
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-9 col-md-9 col-lg-7 col-xl-10">
            <div class="info-form text-center">
                <h1 class="name-page">ГЛАВНАЯ</h1>
                <h3 class="info-text-z">Добро пожаловать в мир приключений и загадок!</h3>
                <p class="info-text">
                    Откройте двери в увлекательный мир квестов, где каждый шаг приводит к новым открытиям. Наша команда
                    создала для вас уникальные и захватывающие квесты, которые погрузят вас в атмосферу таинственности и
                    приключений.

                    Что такое квесты? Это не просто игры. Это возможность окунуться в увлекательный сюжет, решать
                    загадки, исследовать неизведанные уголки, и все это в реальном времени. Вы будете героями своего
                    собственного приключения, где каждое ваше действие имеет значение.

                    Независимо от того, являетесь ли вы новичком в мире квестов или опытным исследователем, у нас
                    найдется что-то по душе. От классических квестов с увлекательными историями до интригующих
                    головоломок и мистических тематик - у нас вы всегда найдете то, что ищете.

                    Присоединяйтесь к нам и станьте частью нашего комьюнити приключений. Готовы ли вы к вызову? Начните
                    свою легенду прямо сейчас!
                </p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
